@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
}
.nunito-sans-portfolio {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }



/* shared Class */
.secondary_bg {
    background: #FFF8F3;
}
.global_section_title {
    font-size: 35px;
    font-weight: 800;
}
.global_description {
    font-size: 20;
    padding: 20px 0;
}
.primary_text_color {
    color: #FD6E0A;
}
.primary_button {
    background: #FD6E0A;
    padding: 12px 30px;
    border-radius: 5px;
    color: #fff;
    border: none;
}
.dark_text {
    color: #474747;
    font-weight: 600;
}


/* Header  */
header{
    
    background: url('../images/developer.png'), url('../images/header_bg.png'),#FFF8F3;
    background-position: top left,right bottom;
    background-repeat: no-repeat;
    background-size: cover, content;
}
.header_wrap {
    width: 1124px;
    margin: 0px auto;
}
/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 ;
}
nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
}

.logo {
    font-size: 45px;
    font-weight: 800;
}
/* Hero Section */

.hero {
    display: flex;
}
.hero_content {
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.hero_image {
    display: flex;
    
}
.hero_image img {
    width : 500px;
}
.hero h3 {
    font-size: 45px;
    padding: 5px 0;
}
.hero h1 {
    font-size: 80px;
    padding: 0 0 10px 0;
}
.hero p {
    font-size: 18px;
    padding: 0 0 20px 0;
}

/* About me section */

.about {
    max-width: 1000px;
    margin: 100px auto;
    text-align: center;
    padding: 80px 100px;
    border-radius: 10px ;
}
.about_items {
    display: flex;
    justify-content: space-evenly;
   
}

/* Skill section  */

.skill_section {
    width: 1000px;
    margin: 100px auto;
}
.skill_section .skill_content {
    text-align: center;

}
.skill_wraper {
    display: flex;
    gap:20px;
    justify-content: space-between;
    padding: 20px 0;

}
.skill {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.06);
    
}
.skill:hover {
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.193);
}
.skill_icon,.skill_name,.skill_description {
    padding-bottom: 10px;
}